<nav
  id="navbar"
  class="navbar navbar-expand-lg fixed-top"
  [ngClass]="{ scrolled: isScrolled }"
>
  <div class="container">
    <img class="navbar-brand me-auto" [src]="logoSrc" />
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <img
          class="offcanvas-title"
          src="assets/img/logo.png"
          style="height: 47px; width: 120px"
        />
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              [class.active]="isActive('home')"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              href="#"
              >About In Land</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              href="#"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              href="#"
              >Markets</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              href="#"
              >Industries</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              href="#"
              >Benefits</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              href="#"
              >Compliance</a
            >
          </li>
        </ul>
      </div>
    </div>
    <a href="#" class="booking-button">Book a meeting</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
