<nav
  id="navbar"
  class="navbar navbar-expand-lg fixed-top"
  [ngClass]="{ scrolled: isScrolled, hidden: isHidden }"
  [ngStyle]="{
    background: isBlack ? 'transparent' : 'rgba(0, 0, 0, 0.8)',
  }"
>
  <div class="container">
    <img
      class="navbar-brand me-auto"
      [src]="logoSrc"
      style="margin-left: 0px; cursor: pointer"
      routerLink=""
    />

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <img
          class="offcanvas-title"
          src="assets/img/part-logo.png"
          style="height: 47px; width: 120px"
        />
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              routerLink="services"
              [class.active]="isActive('services')"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              routerLink="markets"
              [class.active]="isActive('markets')"
              >Markets</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              routerLink="industries"
              [class.active]="isActive('industries')"
              >Industries</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              routerLink="benefits"
              [class.active]="isActive('benefits')"
              >Benefits</a
            >
          </li>
          <li class="nav-item">
            <a
              [ngStyle]="{ color: isBlack ? '#000' : '#fff' }"
              class="nav-link mx-lg-2"
              routerLink="about-us"
              [class.active]="isActive('about-us')"
              >About us</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="custom-select-wrapper">
      <div class="custom-select" (click)="toggleDropdown()">
        <img [src]="selectedFlag" class="selected-flag" />
        <span class="arrow" [ngStyle]="{ color: isBlack ? '#000' : '#fff' }">
          &#9662;
        </span>
      </div>
      <div class="custom-options" [ngClass]="{ show: dropdownOpen }">
        <div
          class="custom-option"
          *ngFor="let flag of getFilteredFlags()"
          (click)="selectFlag(flag.url)"
        >
          <img [src]="flag.url" />
        </div>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
