.booking-button {
  background: linear-gradient(30.51deg, #194049 14.08%, #000000 100.58%);
  color: #fff;
  font-size: 19px;
  padding: 15px 20px;
  border-radius: 9px;
  text-decoration: none;
  transition: 0.3s background-color;
  height: 60px;
  width: 180px;
  text-align: center;
  font-weight: 400;
}

.booking-button:hover {
  color: #87ceeb;
  font-weight: 500;
}

.navbar {
  backdrop-filter: blur(10px);
  height: 100px;
  padding: 0.5rem;
  transition:
    height 0.3s ease,
    padding 0.3s ease;
}

.navbar.scrolled {
  height: 80px;
  padding: 0.25rem;
}

.navbar-brand {
  height: 80px;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #000;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #87ceeb !important;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #87ceeb;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
@media (max-width: 991px) {
  .offcanvas-body {
    background-color: #fff;
    overflow-y: visible;
  }
  .nav-link {
    color: #000;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 130px;
    height: 65px;
  }
}
