.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 58px;
}
.arrow {
  font-size: 25px;
  margin-left: 3px;
}
.custom-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 4px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.selected-flag {
  width: 25px;
  height: 25px;
  margin-left: 3px;
}

.custom-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 10;
}

.custom-options.show {
  display: block;
}

.custom-option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-option img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.custom-option:hover {
  background-color: #f0f0f0;
}

.navbar {
  background: transparent;
  height: 100px;
  padding: 0.5rem;
  transition:
    height 0.3s ease,
    padding 0.3s ease,
    background 0.3s ease,
    transform 0.3s ease;
}

.navbar:hover {
  background: #fff !important;
}

.navbar.scrolled {
  height: 80px;
  background: #fff !important;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar-brand {
  height: 95px;
  width: 105px;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #524f4f;
  font-weight: 400;
  position: relative;
  font-size: 16px;
}

.nav-link:hover,
.nav-link.active {
  color: #fe7773 !important;
  font-weight: 400;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}
@media (min-width: 991px) {
  .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fe7773;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
@media (max-width: 991px) {
  .offcanvas-body {
    background-color: #fff;
    overflow-y: visible;
  }
  .nav-link {
    color: #000;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 130px;
    height: 65px;
  }
}
