.home-container {
  height: 100vh;
  z-index: 1;
  position: relative;
  width: 100%;
  background: linear-gradient(
    189.51deg,
    rgb(209, 112, 112) 20.08%,
    #ffff 104.58%
  );
  overflow: hidden;
  padding-top: 16rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/animation-home.gif);
  opacity: 0.2;
  z-index: -1;
}
.fixed-button {
  position: fixed;
  right: -5.2rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 1000;
}

.fixed-button button {
  background: #194049;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.fixed-button button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.horizontal-bar {
  border: 2px solid #fe7773;
  width: 5.5rem;
  height: 0;
}
.support {
  position: relative;
  width: 50vw;
}
.first-block,
.second-block,
.third-block,
.fourth-block,
.fifth-block {
  position: absolute;
  padding: 15px;
  color: #194049;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  width: auto;
  font-size: 26px;
  border-radius: 30px;
  text-align: center;
  transition: transform 2s ease-in-out;
  font-weight: 500;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.25),
    /* Main shadow */ 0 20px 40px rgba(0, 0, 0, 0.22),
    /* Larger shadow */ 0 30px 60px rgba(0, 0, 0, 0.18); /* Even larger shadow */
}

.first-block {
  position: absolute;
  top: -3rem;
  transition: transform 2s ease-in-out;
  animation: moveLeftAndRight 6s infinite;
}

.second-block {
  position: absolute;
  right: 100px;
  bottom: 90px;
  transition: transform 2s ease-in-out;
  animation: moveDiagonally2 6s infinite;
}

.third-block {
  position: absolute;
  top: 2rem;
  right: 0rem;
  transition: transform 2s ease-in-out;
  animation: moveDiagonally 6s infinite;
}

.fourth-block {
  position: absolute;
  top: 8rem;
  left: 2rem;
  transition: transform 2s ease-in-out;
  animation: moveDownAndUp 6s infinite;
}

.fifth-block {
  position: absolute;
  top: 14rem;
  right: 2rem;
  transition: transform 2s ease-in-out;
  animation: moveRightAndLeft 6s infinite;
}

@keyframes moveLeftAndRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

@keyframes moveRightAndLeft {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
}

@keyframes moveUpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
@keyframes moveDownAndUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes moveDiagonally {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, 15px);
  }
}

@keyframes moveDiagonally2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-15px, 15px);
  }
}

.btn {
  font-weight: 400;
  font-size: 19px;
  color: #fff;
  width: 170px;
  padding: 10px 15px;
  border-radius: 0%;
  background: #194049;
  //linear-gradient(30.51deg, #194049 14.08%, #000000 100.58%)
  animation: fadeinzoom 1s ease;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.first-title {
  color: #000;
  font-weight: 700;
  animation: fadeInRight 1s ease-out forwards;
}
.second-title {
  color: #000;
  font-weight: 700;
  animation: fadeInleft 1s ease-out forwards;
}

.third-title {
  color: #194049;
  font-weight: 700;
  animation: fadeInRight 1s ease-out forwards;
}

.description {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  padding-right: 106px;
  animation: fadeInleft 1s ease-out forwards;
}

.description-solution {
  color: #194049;
  font-size: 21px;
  font-weight: 500;
  animation: fadeInleft 1s ease-out forwards;
}

@keyframes typewriter {
  from {
    width: 0%;
    opacity: 0;
    white-space: nowrap;
  }
  to {
    width: 100%;
    white-space: nowrap;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInleft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(40px);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

@keyframes fadeinzoom {
  from {
    opacity: 0;
    transform: scale(0.5) translateZ(-50px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}

@keyframes fadeoutzoom {
  from {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
  to {
    opacity: 0;
    transform: scale(0.5) translateZ(-50px);
  }
}

.fadeinzoom {
  animation: fadeinzoom 1s forwards;
}

.fadeoutzoom {
  animation: fadeoutzoom 1s forwards;
}

.fadeInRight {
  animation: fadeInRight 1s forwards;
}

.fadeInLeft {
  animation: fadeInLeft 1s forwards;
}

.fadeOutRight {
  animation: fadeOutRight 1s forwards;
}

.fadeOutLeft {
  animation: fadeOutLeft 1s forwards;
}

.challenge-container {
  height: 50vh;
}

.earth {
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #ffffff;
}

/* .earth::before {
  content: '';
  position: absolute;
  top: 0;
  left: 55%;
  width: 40%;
  height: 100%;
  border-radius: 0 50% 50% 0;
  border-right: 1px solid rgb(99, 94, 94);
  box-shadow: 15px 0 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none;
  background: #ffffff;
} */
.map-img {
  position: absolute;
  border-radius: 100%;
  right: 6%;
  bottom: -3%;
  z-index: 2;
}

.btn-map {
  position: absolute;
  left: 34%;
  bottom: 10%;
  z-index: 2;
}
.challenge-text {
  color: #194049;
  font-size: 21px;
  font-weight: 500;
  animation: fadeInRight 1s ease-out forwards;
}

.brand {
  width: 259px;
  height: 133px;
  position: absolute;
  left: -2.5rem;
}

.part-logo-img {
  height: 140px;
  width: 162px;
  transform: translateX(0px) rotate(225deg);
  transition: transform 0.1s ease;
  position: relative;
}

.full-logo-img {
  z-index: 9;
  height: 200px;
  width: 435px;
  opacity: 0;
  top: 2.5rem;
  position: absolute;
  transform: translateX(0px);
  transition:
    transform 0.1s ease,
    opacity 0.5s ease;
}

.under-logo-title {
  color: #194049;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  opacity: 0;
  transform: scale(0.8);
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}

.profit-img {
  width: 400px;
  height: 400px;
  transition: transform 0.3s ease-in-out;
}

.profit-img:hover {
  transform: translateX(-15px);
}

.profit-description {
  color: #000;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  padding-left: 40px;
  padding-right: 40px;
}

.highlight-text {
  color: #fe7773;
  display: block;
  margin-bottom: 10px;
}

.strategie-container {
  background: rgba(255, 216, 216, 0.4);
  overflow: hidden;
  padding: 4rem;
  margin-left: 0px;
  margin-right: 0px;
}

.strategie-title {
  color: #194049;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  transform: scale(0.8);
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}

.strategie-description {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.outer-circle {
  width: 25px;
  height: 25px;
  border: 5px solid #194049;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  display: inline-block;
}

.inner-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vertical-line {
  width: 2px;
  height: 100px;
  background-color: #194049;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  color: #fe7773;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}

@keyframes fadeInleftStrategie {
  from {
    opacity: 0;
    transform: translateX(-290px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInrightStrategie {
  from {
    opacity: 0;
    transform: translateX(290px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInleftStrategie {
  animation: fadeInleftStrategie 2s forwards;
}
.fadeInrightStrategie {
  animation: fadeInrightStrategie 2s forwards;
}

.why-choose-us-container {
  width: 100%;
  overflow: hidden;
  margin-top: 55px;
}

.why-choose-us-title {
  color: #000;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
}

.circle {
  position: relative;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background: linear-gradient(145deg, #fe7773 2.08%, #ffd8d8 110.58%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-container {
  position: absolute;
  left: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-svg {
  height: 10rem;
  width: 10rem;
}

.draw1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s infinite;
  stroke: #000;
  stroke-width: 3;
  fill: none;
  marker-end: url(#arrowhead);
}

.draw2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s infinite;
  stroke: #000;
  stroke-width: 3;
  fill: none;
  marker-end: url(#arrowhead);
}

.draw3 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s infinite;
  stroke: #000;
  stroke-width: 3;
  fill: none;
  marker-end: url(#arrowhead);
}

.draw4 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s infinite;
  stroke: #000;
  stroke-width: 3;
  fill: none;
  marker-end: url(#arrowhead);
}

#arrowhead {
  animation: showArrow infinite 3s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes showArrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.circle-title {
  position: absolute;
}

.horizontal-line {
  position: absolute;
  height: 3rem;
  width: 0;
  border: 1px solid #000;
  //left: 14.5rem;
  left: 8.5rem;
}
.text-description {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  //margin-left: 15rem;
  margin-left: 9rem;
}
.title-description {
  color: #fe7773;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
}

.service-container {
  background: rgba(255, 216, 216, 0.5);
  margin-bottom: 100px;
  padding: 2rem;
}
/* linear-gradient(
  0deg,
  rgba(255, 216, 216, 0.8) 25.08%,
  rgba(255, 255, 255, 0.7) 150.58%
); */
.service-title {
  color: #194049;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  transform: scale(0.8);
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}

.service-description {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding-left: 40px;
  padding-right: 40px;
}

.service-card {
  height: 380px;
  width: 16vw;
  position: relative;
  padding: 2rem;
  margin: 12px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.service-card-body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.service-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to top, rgba(254, 119, 115, 1), rgba(0, 0, 0, 0));
  transition: height 0.3s ease-in-out;
  border-radius: 5px;
}

.service-card:hover::after {
  height: 80%;
}
.card-title {
  position: absolute;
  color: #fff;
  bottom: 33px;
  margin: 0;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
  font-weight: 600;
  z-index: 2;
}

.card-description {
  position: absolute;
  color: #fff;
  bottom: 15px;
  font-weight: 400;
  margin: 0;
  font-size: 17px;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  z-index: 2;
}

.service-card:hover .card-title {
  transform: translateY(-50px);
  background: none;
}

.service-card:hover .card-description {
  opacity: 1;
  transform: translateY(-10px);
}

.service-card:hover {
  transform: translateY(-10px) scale(1.08);
  z-index: 10;
}

.partners-container {
  background: #fff;
  width: 100%;
  overflow: hidden;
  margin-top: 90px;
  margin-bottom: 40px;
  padding: 1rem;
}
//linear-gradient(30.51deg, #194049 14.08%, #000000 100.58%)
.partners-title {
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  transform: scale(0.8);
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}

.contact-container {
  margin-bottom: 190px;
}

.wrapper {
  background: linear-gradient(145deg, #fe7773 2.08%, #ffd8d8 110.58%);
  padding: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border: 1px solid rgb(0, 0, 0);
}

.contact-container form {
  width: 380px;
  margin-left: 37px;
  margin-right: 37px;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.contact-container h1 {
  text-transform: uppercase;
  color: #fff;
}

.contact-container p {
  margin-bottom: 33px;

  color: #fff;
}

.contact-container input,
textarea {
  width: 100%;
  padding: 7px;
  border: none;
  outline: none;
  display: block;
  border-radius: 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  background: none;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
}

.contact-container textarea {
  resize: none;
}

.contact-container textarea::placeholder,
input::placeholder {
  color: #fff;
  font-weight: 400;
}

.contact-container textarea:focus,
input:focus {
  border-bottom: 1px solid #000 !important;
  font-weight: 400;
}

.contact-container button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #fe7773;
  background-color: #fff;
  border-radius: 5px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
}

.contact-container button:hover {
  transform: translateY(-5px);
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .support-img {
    display: none;
  }

  #line-1 {
    width: 100%;
    animation: none;
  }
  #line-2 {
    width: 100%;
    animation: none;
    opacity: 1;
  }

  .description {
    font-size: 18px;
    opacity: 0;
    animation: fadeInRight 2s ease-out forwards;
    animation-delay: 1s;
  }
}

@media (max-width: 991px) {
  .support-img {
    margin-top: 20px;
    height: auto;
    width: 70%;
  }
  .home-container {
    height: calc(100vh - 200px);
  }
  .part-logo-img {
    left: 0.5rem;
  }
}

@media (max-width: 1550px) {
  .home-container {
    height: 125vh;
  }
  .challenge-container {
    height: 60vh;
  }
  .earth {
    height: 60vh;
  }
}

/* .container-carrossel {
  --widthItem: 450px;
  --heightItem: 400px;
  width: var(--widthItem);
  height: var(--heightItem);
  perspective: 1000px;
}
.conteudo__geral {
  height: 380px;
}
.container-car {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrossel {
  --rotatey: 0;
  font-size: 4rem;
  position: relative;
  transform: rotatey(var(--rotatey));
  transform-style: preserve-3d;
  user-select: none;
  cursor: grab;
}

.carrossel-item {
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: opacity 0.5s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 2;
}

.carrossel-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to top, rgba(254, 119, 115, 1), rgba(0, 0, 0, 0));
  transition: height 0.3s ease-in-out;
  border-radius: 5px;
}

.carrossel-item:hover::after {
  height: 100%;
}

.item-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.item-title {
  margin: 0;
  font-size: 19px;
  background: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
  font-weight: 400;
}

.item-description {
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
.carrossel-item:hover .item-title {
  transform: translateY(-10px);
  background: none;
}

.carrossel-item:hover .item-description {
  opacity: 1;
  transform: translateY(10px);
}

.carrossel-item:hover {
  opacity: 1;
}

.carrossel,
.carrossel-item {
  width: 100%;
  height: 100%;
}

.carrossel-item:nth-child(1) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #fbd52d, #ef3a7b);
}

.carrossel-item:nth-child(2) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #ff70af, #5fa8f5);
}

.carrossel-item:nth-child(3) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #0cebeb, #29ffc6);
}
.carrossel-item:nth-child(4) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #88f7f9, #048fff);
}

.carrossel-item:nth-child(5) {
  --rotate: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #0093e9, #80d0c7);
}

@media screen and (min-width: 576px) {
  .container-carrossel {
    --widthItem: 330px;
    --heightItem: 380px;
  }
} */
