.home-container {
  height: calc(100vh - 210px);
  z-index: 1;
  position: relative;
  width: 100%;
  background: linear-gradient(199.51deg, #194049 13.08%, #fe7773 111.58%);
  overflow-x: hidden;
  overflow-y: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/animation-home.gif);
  opacity: 0.2;
  z-index: -1;
}
.support-img {
  width: 90%;
  height: 75%;
  transition: transform 0.3s ease;
  animation: fadeinzoom 1s ease;
}

.support-img:hover {
  transform: translateX(-15px);
}

.btn {
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  width: 250px;
  height: 61px;
  background-color: #194049;
  border-radius: 5px;
  border: 2px solid #fff;
  animation: fadeinzoom 1s ease;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
}

.btn:hover {
  transform: translateY(-5px);
  background-color: #fff;
  color: #194049;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: 2px solid #194049;
}

.first-title {
  color: #194049;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  animation:
    fadeInRight 1s ease-out forwards,
    color-switch-first-title 3s infinite;
}
.second-title {
  color: #194049;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  animation:
    fadeInleft 1s ease-out forwards,
    color-switch-second-title 3s infinite;
}

/* @keyframes color-switch-first-title {
  0%,
  50% {
    color: #fff;
  }
  50%,
  100% {
    color: #194049;
  }
}

@keyframes color-switch-second-title {
  0%,
  50% {
    color: #194049;
  }
  50%,
  100% {
    color: #fff;
  }
} */

.description {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

#line-1 {
  overflow: hidden;
  animation: typewriter 1s steps(80, end) forwards;
}

#line-2 {
  overflow: hidden;
  opacity: 0;
  animation: typewriter 1s steps(80, end) forwards;
  animation-delay: 1s;
}

@keyframes typewriter {
  from {
    width: 0%;
    opacity: 0;
    white-space: nowrap;
  }
  to {
    width: 100%;
    white-space: nowrap;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInleft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(40px);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

@keyframes fadeinzoom {
  from {
    opacity: 0;
    transform: scale(0.5) translateZ(-50px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}

@keyframes fadeoutzoom {
  from {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
  to {
    opacity: 0;
    transform: scale(0.5) translateZ(-50px);
  }
}

.fadeinzoom {
  animation: fadeinzoom 1s forwards;
}

.fadeoutzoom {
  animation: fadeoutzoom 1s forwards;
}

.fadeInRight {
  animation: fadeInRight 1s forwards;
}

.fadeInLeft {
  animation: fadeInLeft 1s forwards;
}

.fadeOutRight {
  animation: fadeOutRight 1s forwards;
}

.fadeOutLeft {
  animation: fadeOutLeft 1s forwards;
}

.part-logo-img {
  height: 200px;
  width: auto;
  transform: translateX(0px) rotate(225deg);
  transition: transform 0.1s ease;
  position: relative;
}

.full-logo-img {
  opacity: 0;
  top: 4rem;
  position: absolute;
  transform: translateX(0px);
  transition:
    transform 0.1s ease,
    opacity 0.5s ease;
}

.under-logo-title {
  color: #194049;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  opacity: 0;
  transform: scale(0.8);
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}

.profit-img {
  transition: transform 0.3s ease-in-out;
}

.profit-img:hover {
  transform: translateX(-15px);
}

.profit-description {
  color: #000;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  padding-left: 40px;
  padding-right: 40px;
}

.highlight-text {
  color: #fe7773;
  display: block;
  margin-bottom: 10px;
}

.strategie-container {
  background: linear-gradient(30.51deg, #194049 14.08%, #000000 100.58%);
  width: 100%;
  overflow: hidden;
  padding: 4rem;
  margin: 60px auto;
}

.strategie-title {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  transform: scale(0.8);
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}

.strategie-description {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding-left: 40px;
  padding-right: 40px;
}

.outer-circle {
  width: 25px;
  height: 25px;
  border: 5px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  display: inline-block;
}

.inner-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vertical-line {
  width: 2px;
  height: 185px;
  background-color: #fff;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  color: #fe7773;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}

@keyframes fadeInleftStrategie {
  from {
    opacity: 0;
    transform: translateX(-290px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInrightStrategie {
  from {
    opacity: 0;
    transform: translateX(290px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInleftStrategie {
  animation: fadeInleftStrategie 2s forwards;
}
.fadeInrightStrategie {
  animation: fadeInrightStrategie 2s forwards;
}

.why-choose-us-container {
  width: 100%;
  overflow: hidden;
  margin-top: 55px;
}

.why-choose-us-title {
  color: #000;
  font-size: 55px;
  font-weight: 300;
  font-style: normal;
}

.circle {
  position: relative;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background: linear-gradient(145deg, #fe7773 2.08%, #ffd8d8 110.58%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-container {
  position: absolute;
  left: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-svg {
  height: 10rem;
  width: 10rem;
}

.draw1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s infinite;
  stroke: #000;
  stroke-width: 3;
  fill: none;
  marker-end: url(#arrowhead);
}

.draw2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s infinite;
  stroke: #000;
  stroke-width: 3;
  fill: none;
  marker-end: url(#arrowhead);
}

.draw3 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s infinite;
  stroke: #000;
  stroke-width: 3;
  fill: none;
  marker-end: url(#arrowhead);
}

.draw4 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s infinite;
  stroke: #000;
  stroke-width: 3;
  fill: none;
  marker-end: url(#arrowhead);
}

#arrowhead {
  animation: showArrow infinite 3s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes showArrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.circle-title {
  position: absolute;
}

.horizontal-line {
  position: absolute;
  height: 3rem;
  width: 0;
  border: 1px solid #000;
  left: 14.5rem;
}
.text-description {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  left: 15rem;
  margin-left: 15rem;
}
.title-description {
  color: #fe7773;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
}

.partners-container {
  background: linear-gradient(30.51deg, #194049 14.08%, #000000 100.58%);
  width: 100%;
  overflow: hidden;
  margin-top: 90px;
  margin-bottom: 40px;
  padding: 1rem;
}

.partners-title {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  transform: scale(0.8);
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}
.contact-container {
  margin-bottom: 190px;
}

.wrapper {
  background: linear-gradient(145deg, #fe7773 2.08%, #ffd8d8 110.58%);
  padding: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border: 1px solid rgb(0, 0, 0);
}

.contact-container form {
  width: 380px;
  margin-left: 37px;
  margin-right: 37px;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.contact-container h1 {
  text-transform: uppercase;
  color: #fff;
}

.contact-container p {
  margin-bottom: 33px;

  color: #fff;
}

.contact-container input,
textarea {
  width: 100%;
  padding: 7px;
  border: none;
  outline: none;
  display: block;
  border-radius: 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  background: none;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
}

.contact-container textarea {
  resize: none;
}

.contact-container textarea::placeholder,
input::placeholder {
  color: #fff;
  font-weight: 400;
}

.contact-container textarea:focus,
input:focus {
  border-bottom: 1px solid #000 !important;
  font-weight: 400;
}

.contact-container button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #fe7773;
  background-color: #fff;
  border-radius: 5px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
}

.contact-container button:hover {
  transform: translateY(-5px);
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .support-img {
    display: none;
  }

  #line-1 {
    width: 100%;
    animation: none;
  }
  #line-2 {
    width: 100%;
    animation: none;
    opacity: 1;
  }

  .description {
    font-size: 18px;
    opacity: 0;
    animation: fadeInRight 2s ease-out forwards;
    animation-delay: 1s;
  }
}

@media (max-width: 991px) {
  .support-img {
    margin-top: 20px;
    height: auto;
    width: 70%;
  }
  .home-container {
    height: calc(100vh - 200px);
  }
  .part-logo-img {
    left: 0.5rem;
  }
}
