<div class="container-fluid footer-container p-3">
  <div class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
          <div class="d-flex justify-content-center flex-column">
            <div>
              <img
                class="navbar-brand me-auto"
                src="assets/img/logo-white.png"
              />
            </div>
            <div class="description">
              <p>
                We leverage our industry expertise to enable businesses to
                better harness the potential of digital transformation and
                innovative solutions.
              </p>
            </div>
            <div class="d-flex justify-content-around">
              <div class="my-2 icons">
                <a href="#">
                  <div class="layer">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="bi bi-facebook"></span>
                  </div>
                  <span class="text">facebook</span>
                </a>
              </div>
              <div class="my-2 icons">
                <a href="#">
                  <div class="layer">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="bi bi-linkedin"></span>
                  </div>
                  <span class="text">linkedin</span>
                </a>
              </div>
              <div class="my-2 icons">
                <a href="#">
                  <div class="layer">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="bi bi-instagram"></span>
                  </div>
                  <span class="text">instagram</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
          <div class="d-flex flex-column">
            <div class="title text-center">Pages</div>
            <div class="mt-4 d-flex flex-column">
              <a class="nav-link my-lg-1 text-center"
                ><span class="link-text">Home</span></a
              >
              <a class="nav-link my-lg-1 text-center"
                ><span class="link-text">About</span></a
              >
              <a class="nav-link my-lg-1 text-center"
                ><span class="link-text">Services</span></a
              >
              <a class="nav-link my-lg-1 text-center"
                ><span class="link-text">Markets</span></a
              >
              <a class="nav-link my-lg-1 text-center"
                ><span class="link-text">Industeries</span></a
              >
              <a class="nav-link my-lg-1 text-center"
                ><span class="link-text">Benefits</span></a
              >
              <a class="nav-link my-lg-1 text-center"
                ><span class="link-text">Compliance</span></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
          <div class="d-flex flex-column">
            <div class="title text-center">Contact</div>
            <div class="contact mt-4 d-flex flex-column text-center">
              <div
                class="d-flex align-items-center justify-content-center my-lg-3"
              >
                <div class="mx-1"><i class="bi bi-telephone"></i></div>
                <div style="width: 190px">+34 93 1776020</div>
              </div>
              <div
                class="d-flex align-items-center justify-content-center my-lg-3"
              >
                <div class="mx-1"><i class="bi bi-envelope"></i></div>
                <div style="width: 190px">{{ contact }}</div>
              </div>
              <div
                class="d-flex align-items-center justify-content-center my-lg-3"
              >
                <div class="mx-1"><i class="bi bi-geo-alt"></i></div>
                <div style="width: 190px">based in Barcelona, Spain</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="border: 1px solid #000" />
      <div class="copyright text-center">
        Copyright © 2024 by Gargouri - Alle rechten voorbehouden
      </div>
    </div>
  </div>
</div>
