<div class="service-container d-flex justify-content-center flex-column">
  <div class="support" style="margin-top: 50px">
    <div class="first-block">
      +<span style="color: #fe7773; font-weight: 600">€</span
      ><span
        [innerText]="salesPipeline"
        style="color: #fe7773; font-weight: 600"
        >0</span
      >
      million Sales Pipeline
    </div>
    <div class="second-block">
      +<span [innerText]="meetings" style="color: #fe7773; font-weight: 600"
        >0</span
      >
      Qualified Meeting
    </div>
    <div class="third-block">
      +<span style="color: #fe7773; font-weight: 600">€</span
      ><span
        [innerText]="clientRevenue"
        style="color: #fe7773; font-weight: 600"
        >0</span
      >
      million New Client Revenue
    </div>
    <div class="fourth-block">
      +<span [innerText]="markets" style="color: #fe7773; font-weight: 600"
        >0</span
      >
      Markets Covered
    </div>
    <div class="fifth-block">
      +<span [innerText]="languages" style="color: #fe7773; font-weight: 600"
        >0</span
      >
      Native languages
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col-12">
          <div>
            <h1 class="title">TITLE OF SERVICE HERE</h1>
          </div>
          <div>
            <p class="sub-title text-center">we put here some description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="service-slogon container">
  <div class="d-flex justify-content-center" style="padding: 20px">
    optional
  </div>
</div>
<div class="service-content">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1 style="font-size: 70px">service content goes here</h1>
    </div>
  </div>
</div>
